.cart{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 13%;
}
.yourcart{
    display: flex;
    align-items: center;
}

.main{
    display: flex;
    align-items: center;
    
}
.item{
    display: flex;
    align-items: center;
    justify-content: center;
}




.amount{
    display: flex;
    
    justify-content: space-between;
}
