.Heading{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.list{
    // display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.abc{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.img_url{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.Product_Name{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



._Discription{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}



._prise{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.Discounted_prise{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.but{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.xyz{
    border-radius: 7px;
}