.header-logo-image{
    width: 100px;
    height: 50px;
}
.header-search-bar{
    width: 400px;
    height: 38px;
}
.hearder-navbar-icon{
    width: 30px;
    height: 30px;
    color: rgb(245, 142, 8);
}
.header-button-search{
    border-radius: 0%;
}

